.header {
  background: var(--white);
  box-shadow: 0 2px 8px var(--shadow);
  position: sticky;
  top: 0px;
  z-index: 1000;
  border-bottom: 3px solid var(--secondary); /* Linha laranja de detalhe */
  height: 100px;
 
 }

.header-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  display: flex;
  
}

.logo img {
  height: 170px;   /* ajuste aqui o tamanho */
  width: auto;
  margin-top: -30px; /* ajuste aqui a posição vertical */
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: -50px; /* ajuste aqui a posição vertical */
}

.nav-link {
  color: var(--dark);
  text-decoration: none;
  font-weight: 500;
  transition: var(--transition);
  
}

.nav-link:hover {
  color: var(--secondary);
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-name {
  font-weight: 500;
  color: var(--dark);
}

.btn-logout {
  background: transparent;
  border: 1px solid var(--border);
  padding: 8px 16px;
  border-radius: var(--radius);
  cursor: pointer;
  font-weight: 500;
  transition: var(--transition);
}

.btn-logout:hover {
  background: var(--light-gray);
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    gap: 16px;
  }

  .nav {
    flex-direction: column;
    width: 100%;
    gap: 12px;
    
  }

  .nav-link,
  .btn {
    width: 100%;
    text-align: center;
   
  }

  .user-menu {
    flex-direction: column;
    width: 100%;
  }
}
